body {
    background-color: var(--primary-background);
}

/* Page */
.statblock {
    border-color: var(--primary-border);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: var(--primary-background);
}

/* .contentblock {
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: 2;
} */

table { 
    /* border-style: solid;
    border-color: var(--primary-border); */
    /* border-width: 0.5px; */
    border-collapse: collapse;
    font-family: var(--font);
}

td {
    padding-inline: 0.5rem;
    /* text-align: center; */
    /* font-family: var(--font); */
}
.stat {
    border-color: red;
}

input {
    font-family: inherit;
}
button {
    font-family: inherit;
}
input[type=text] {
    /* display: flex; */
    width: 6rem;

    border-width: 1px;
    border-radius: 5px;
}

.stat input[type=number] {
    /* display: flex; */
    width: 3rem;

    border-width: 1px;
    border-radius: 5px;
    border-color: var(--secondary-border);
}