:root {
	--font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, p {
	font-family: var(--font);
	margin: 0.1rem;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
	margin: 0.1rem;
}

h3 {
	font-size: medium;
	margin: 0.1rem;
}

.tab {
	overflow: hidden;
	padding: 10px;
}
  
.tablinks {
	background-color: inherit;
	float: left;
	border: none;
	cursor: pointer;
	padding: 5px;
	padding-inline: 20px;
	font-size: medium;
	border-radius: 30px;
	box-shadow: 1px 1px 1px gray;
	transition: background-color 0.5s;
	transition: box-shadow 0.5s;
}
  
.tablinks:hover {
	background-color: lightgray;
	box-shadow: 1.5px 1.5px 5px black;
}
