<head>
    <link rel='stylesheet' type="text/css" href="../assets/styles/main.css">
    <script src="../assets/scripts/main.js" defer></script>

    <title>Title</title>
</head>
<body>
    <div class="tab" style="display: flex; justify-content: space-between;">
        <button type="button" class="tablinks" id="characterheader">RPMe</button>
        <button type="button" class="tablinks" id="usernameheader">Username</button>
        <button type="button" class="tablinks" id="characterheader">Characters</button>
    </div>
</body>