<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/main/character-sheet.css' %}">
    <!-- {% load static %}
    <script src="{% static '/main/menu.js' %}"></script> TODO: ADD SCRIPT-->
</head>
<div class="tab">
    <button class="tablinks" id="usernameheader">Username</button>
    <button class="tablinks" id="characterheader">Characters</button>
</div>

<body>
    <form id="character_sheet">
        <div class="contentblock">
            <div class="statblock" id="profileblock">
                <h2>Character Profile</h2>
                <div class="contentblock" style="display: flex;">
                    <table>
                        <tr class="stat">
                            <td>Name</td>
                            <td><input type="text" id="namedisplay"></td>
                        </tr>

                        <tr class="stat">
                            <td>Species</td>
                            <td><input type="text" id="speciesdisplay"></td>
                        </tr>

                        <tr class="stat">
                            <td>Class</td>
                            <td><input type="text" id="classdisplay"></td>
                        </tr>
                    </table>
                    <table>
                        <tr class="stat">
                            <td>Level</td>
                            <td><input type="number" id="leveldisplay"></td>
                        </tr>

                        <tr class="stat">
                            <td>Health</td>
                            <td>
                                <input type="number" id="currhealthdisplay">
                                <label>/</label>
                                <input type="number" id="maxhealthdisplay">
                            </td>
                        </tr>

                        <tr class="stat">
                            <td>Armor Class</td>
                            <td><input type="number" id="armorclassdisplay"></td>
                        </tr>
                    </table>
                    <textarea placeholder="Physical Description" style="resize: none;"></textarea>
                </div>
            </div>
        </div>
            
        <div class="contentblock" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
        <div class="statblock">
            <h2>Ability Scores</h2>
            <table class="contentblock" id="abilityblock"></table>
            <!-- <h2>Saving ??</h2>
            <table id="extrastatblock"></table> -->
        </div>
        <div class="statblock">
            <h2>Skill Scores</h2>
            <table class="contentblock" id="skillblock"></table>
        </div>
        </div>

        <div class="contentblock">
            <div class="statblock" id="combatblock">
                <div style="display: flex; justify-content: space-between;">
                    <h2>Weapons</h2>
                <button type="button" onclick="renderNewWeaponElement()">Create Weapon</button>
                </div>
                <table id="weaponblock">
                    <tr>
                        <th>
                            <label>Name</label><br>
                        </th>
                        <th>
                            <label>Type</label><br>
                        </th>
                        <th>
                            <label>Mod</label><br>
                        </th>
                        <th>
                            <label>Range</label><br>
                        </th>
                        <th>
                            <label>Damage</label><br>
                        </th>
                        <th>
                            <label>Damage</label><br>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>