<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/main/menu.css' %}">
</head>
<div class="tab">
    <button class="tab-links">Username</button>
    <button class="tab-links">Characters</button>
</div>
<body>
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
            <h1>Characters</h1>
            <button type="button">Create New Character</button>
        </div>
        <div class="container-display" id="character-list">
            {% for character in characters %}
                <div class="character-thumbnail">
                    <form method="post">
                        {% csrf_token %}
                        <h2>{{character.name}}</h2>
                        <p><i>Level: {{character.level}}</i></p>
                        <p><strong>Species:</strong> <i>{{character.species}}</i></p>
                        <p><strong>Class:</strong> <i>{{character.characterClass}}</i></p>
                        <button id="open-button" type='submit' name="open">Open</button>
                        <button id="delete-button" type='submit' name="delete">Delete</button>
                        <input type="hidden" id="character-id" name="character-id" value={{character.id}}>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>